/* CSS Variables */
:root {
    --primary-color: hsl(134, 61%, 33%);
    --secondary-color: hsl(240, 100%, 50%);
}
body {
    margin: 20px;
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    padding: 10px 20px 10px 20px;
}
hr {
    border: 1px solid var(--primary-color);
    margin: 10px 0;
}
   
h3, h5 {
    color: var(--primary-color);
}
.experience h4 {
    color: var(--secondary-color);
}

